body {
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

.contact-container {
    width: 450px;
    background: white;
    padding: 25px 30px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: bold;
}

.sub {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

textarea {
    height: 120px;
    resize: none;
}

.send-btn {
    width: 100%;
    padding: 12px;
    background: #ff4d4d;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.send-btn:hover {
    background: #e60000;
}

.success-msg {
    margin-top: 15px;
    color: green;
    font-size: 16px;
    text-align: center;
}
.back-home-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #ff4f5a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s ease;
}

.back-home-btn:hover {
    background: #e0434e;
    transform: translateY(-2px);
}
